.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
config.h
config.h.in
config.log
config.status
configure
compile
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
libtool
m4
*.4
*.la
*.lo
*.orig
*.swp
tags
*~
\#*#
stamp-*
